
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.codepage-Srm {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 100%;
  overflow: hidden;

  .topbar-AGy {
    height: 9.8rem;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #e9eaf5;
    flex-shrink: 0;
    margin-bottom: 0.3rem;
    box-sizing: border-box;
    padding: 1.3rem 4.5rem 1.2rem 1.8rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;

    .logoimage-qP7 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 146.4rem;
      width: 7.8rem;
      height: 7.3rem;
    }
    .topprofile-vvM {
      margin: 1.11rem 0rem 0.466rem 0rem;
      height: calc(100% - 1.576rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .light-dark-mode-Fhj {
        background-color: rgba(171, 59, 224, 0.400000006);
        border-radius: 2rem;
        margin: 0rem 2.1rem 0.444rem 0rem;
        box-sizing: border-box;
        padding: 1.1rem 1.875rem 1rem 1.4rem;
        position: relative;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-shrink: 0;

        .vector-ZyK {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.9rem;
        }
        .moon-fill-Jvu {
          width: 2.625rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
      }
      .membericon-cwb {
        border-radius: 2.817rem;
        flex-shrink: 0;
        margin: 0.09rem 1.166rem 0rem 0rem;
        width: 5.634rem;
        height: 5.634rem;
        background-color: #d9d9d9;
      }
      .profile-alarm-LMo {
        flex-shrink: 0;
        margin: 0rem 2.25rem 1.224rem 0rem;
        width: 6.75rem;
        height: 4.5rem;
        position: relative;

        .welcome-fey {
          position: absolute;
          top: 0;
          display: flex;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 2.3076923077;
          width: 6.5rem;
          height: 3rem;
          color: #b00afe;
          white-space: nowrap;
          left: 0.25rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .heading-2-john-doe-kgR {
          font-size: 1.4rem;
          font-weight: 300;
          color: #b00afe;
          white-space: nowrap;
          line-height: 1.1999999455;
          font-family: Poppins, 'Source Sans Pro';
          width: 6.6rem;
          height: 1.7rem;
          position: absolute;
          left: 0;
          top: 2.8rem;
          display: flex;
        }
      }
      .alarm-bS9 {
        margin-bottom: 0.344rem;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-ot2h-uBw {
    flex-shrink: 0;
    width: 187.6rem;
    height: 229.9rem;
    position: relative;

    .code-Ek1 {
      width: 155.3rem;
      left: 32.3rem;
      overflow: hidden;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0 6.4rem;
      height: 229.9rem;
      position: absolute;
      top: 0;

      .maincol-Adf {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        align-items: flex-end;
        padding: 12.6rem 0rem 8.3rem 0.3rem;
        width: 131.8rem;
        height: 100%;

        .maincode-5Vj {
          padding: 3.2rem 5.6rem 3.389rem 5.7rem;
          width: 131.3rem;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          margin: 0rem 0.2rem 2.4rem 0rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          border: solid 0.1rem #828282;
          box-sizing: border-box;

          .article-B2y {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 6.3rem;
            width: 100%;

            .heading-1-iYh {
              font-size: 3.2rem;
              line-height: 1.25;
              color: #1f2328;
              border: solid 0.1rem #d8dee4;
              margin-bottom: 2.209rem;
              box-sizing: border-box;
              width: 100%;
              font-family: Noto Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              padding: 1.1rem 0;
              display: flex;
              font-weight: 600;
            }
            .link-A9o {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #0969da;
              font-family: Noto Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-sehf-VSy {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.4rem 0;
              width: 100%;
              display: flex;

              .heading-2-EfT {
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                display: flex;
                flex-direction: column;

                .performance-ngy {
                  font-family: Noto Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 1.6rem;
                  display: flex;
                  font-size: 2rem;
                  font-weight: 600;
                  color: #1f2328;
                  line-height: 1.25;
                  white-space: nowrap;
                }
                .performancetext-Wss {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #1f2328;
                  font-family: Noto Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .heading-3-4Pb {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .class-2LR {
                  font-size: 2rem;
                  font-family: Noto Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.6rem;
                  display: flex;
                  font-weight: 600;
                  line-height: 1.25;
                  color: #1f2328;
                  flex-shrink: 0;
                }
                .classtext-xjs {
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #1f2328;
                  font-family: Noto Sans, 'Source Sans Pro';
                }
              }
            }
            .heading-4-6bB {
              flex-shrink: 0;
              margin-bottom: 2.95rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              border-radius: 2rem;

              .question-esb {
                font-family: Noto Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.891rem;
                font-weight: 600;
                color: #1f2328;
                display: flex;
                font-size: 2rem;
                line-height: 1.25;
              }
              .questiontext-amF {
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                border-radius: 2rem;
                flex-shrink: 0;
                width: 100%;
                height: 39.4rem;
                border: solid 0.1rem #828282;
                box-sizing: border-box;
              }
            }
            .heading-5-qSH {
              width: 100%;
              display: flex;
              flex-direction: column;
              border-radius: 2rem;
              flex-shrink: 0;

              .input-bgM {
                margin-bottom: 1.75rem;
                display: flex;
                font-size: 2rem;
                line-height: 1.25;
                white-space: nowrap;
                font-weight: 600;
                color: #1f2328;
                font-family: Noto Sans, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .inputtext-8wB {
                height: 11.5rem;
                border: solid 0.1rem #828282;
                box-sizing: border-box;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                border-radius: 2rem;
                flex-shrink: 0;
                width: 100%;
              }
            }
          }
          .code-pp1 {
            height: 95.411rem;
            border: solid 0.1rem #828282;
            box-sizing: border-box;
            border-radius: 2rem;
            flex-shrink: 0;
            width: 100%;
          }
        }
        .listbtn-95b {
          white-space: nowrap;
          background-color: #7040fa;
          border-radius: 1rem;
          width: 15.7rem;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2;
          color: #ffffff;
          flex-shrink: 0;
          height: 4.8rem;
          display: flex;
          align-items: center;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
      }
    }
    .lefcol-2QH {
      left: 0;
      top: 0;
      box-sizing: border-box;
      width: 36.1rem;
      position: absolute;
      overflow: hidden;
      backdrop-filter: blur(0.2rem);
      padding: 30.1rem 0rem 30.1rem 9.3rem;
      height: 191.4rem;

      .sidbar-kbB {
        width: 100%;
        height: 61.7409rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .sidemenu-6f3 {
          border-radius: 1.5rem;
          margin-bottom: 4.2rem;
          box-sizing: border-box;
          padding: 4.193rem 1.4rem 3.804rem 1.4rem;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          background-color: #ffffff;
          width: 100%;
          display: flex;
          border: solid 0.1rem #828282;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;

          .mypage-aKK {
            margin: 0rem 9.9rem 3.411rem 0.215rem;
            box-sizing: border-box;
            padding-left: 0.0005rem;
            width: calc(100% - 10.1153rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-h93 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.131rem 0.2rem 0rem;
              width: 1.3534rem;
              height: 1.3714rem;
              object-fit: contain;
            }
            .mypage-bVK {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #3a3d4d;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .mystudy-KAR {
            margin: 0rem 15.6rem 3.411rem 0.1rem;
            width: calc(100% - 15.7rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-SVw {
              margin: 0.004rem 1rem 0rem 0rem;
              opacity: 0.99;
              width: 1.6rem;
              height: 1.3714rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mystudy-ARw {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .teammate-u8d {
            margin: 0rem 14rem 3.411rem 0.1rem;
            box-sizing: border-box;
            padding-left: 0.0008rem;
            width: calc(100% - 14.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .icon-RMs {
              flex-shrink: 0;
              margin-right: 0.9221rem;
              opacity: 0.99;
              width: 1.6771rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .team-mate-vpR {
              font-size: 1.3rem;
              white-space: nowrap;
              margin-top: 0.1rem;
              display: flex;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .searching-FLu {
            margin: 0rem 10.5rem 3.506rem 0.1rem;
            width: calc(100% - 10.6rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .icon-PCD {
              opacity: 0.99;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
            }
            .searching-KrZ {
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              margin-top: 0.1rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .board-FkD {
            margin-right: 16.8rem;
            box-sizing: border-box;
            padding: 0.005rem 0rem 0rem 0.2rem;
            width: calc(100% - 16.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-yw7 {
              flex-shrink: 0;
              margin: 0rem 0.829rem 0.261rem 0rem;
              opacity: 0.99;
              width: 1.6714rem;
              height: 1.4143rem;
              object-fit: contain;
              vertical-align: top;
            }
            .board-WRF {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .sidelevel-avu {
          padding: 2.259rem 4.1rem 2.341rem 4.1rem;
          height: 25.6rem;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          border: solid 0.1rem #828282;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1.5rem;
          width: 100%;

          .frame-7-Goj {
            width: 4.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .mypage-QQ9 {
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #3a3d4d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
            .auto-group-dzff-jxD {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.8rem 0;
              width: 100%;
              row-gap: 1.8rem;
              display: flex;

              .level-1-tKK {
                font-weight: 500;
                line-height: 1.4709999378;
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
              }
              .level-2-S5w {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.4709999378;
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
              }
              .searching-PG5 {
                font-weight: 500;
                line-height: 1.4709999378;
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
              }
            }
            .level-4-vmo {
              font-weight: 500;
              color: #363949;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.3rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              line-height: 1.4709999378;
            }
            .level-5-fUV {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
}
