
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.mystudypage-Su7 {
  padding-top: 0.1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  background-color: #ffffff;

  .topbar-mAh {
    flex-shrink: 0;
    padding: 1.3rem 4.5rem 1.2rem 1.8rem;
    height: 9.8rem;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #e9eaf5;
    margin-bottom: 0.3rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    align-items: center;

    .logoimage-4fb {
      width: 7.8rem;
      height: 7.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 146.4rem;
    }
    .topprofile-9ww {
      align-items: center;
      flex-shrink: 0;
      margin: 1.11rem 0rem 0.466rem 0rem;
      height: calc(100% - 1.576rem);
      display: flex;

      .light-dark-mode-UDX {
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 1.875rem 1rem 1.4rem;
        display: flex;
        background-color: rgba(171, 59, 224, 0.400000006);
        border-radius: 2rem;
        margin: 0rem 2.1rem 0.444rem 0rem;

        .vector-aXT {
          margin-right: 1.9rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .moon-fill-7GV {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 2.625rem;
          height: 2.8rem;
          object-fit: contain;
        }
      }
      .membericon-RY5 {
        border-radius: 2.817rem;
        flex-shrink: 0;
        margin: 0.09rem 1.166rem 0rem 0rem;
        width: 5.634rem;
        height: 5.634rem;
        background-color: #d9d9d9;
      }
      .profile-alarm-k4Z {
        height: 4.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 2.25rem 1.224rem 0rem;
        width: 6.75rem;

        .welcome-5cd {
          width: 6.5rem;
          font-weight: 400;
          line-height: 2.3076923077;
          font-family: Poppins, 'Source Sans Pro';
          height: 3rem;
          position: absolute;
          left: 0.25rem;
          top: 0;
          display: flex;
          font-size: 1.3rem;
          color: #b00afe;
          white-space: nowrap;
        }
        .heading-2-john-doe-Nrd {
          font-family: Poppins, 'Source Sans Pro';
          height: 1.7rem;
          top: 2.8rem;
          display: flex;
          font-weight: 300;
          color: #b00afe;
          white-space: nowrap;
          width: 6.6rem;
          position: absolute;
          left: 0;
          font-size: 1.4rem;
          line-height: 1.1999999455;
        }
      }
      .alarm-pyX {
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.344rem;
        width: 2.8rem;
      }
    }
  }
  .auto-group-wbgd-Y8q {
    flex-shrink: 0;
    width: 100%;
    height: 191.4rem;
    display: flex;
    align-items: flex-start;

    .lefcol-5uT {
      width: 36.1rem;
      overflow: hidden;
      position: relative;
      backdrop-filter: blur(0.2rem);
      flex-shrink: 0;
      margin-right: 0.6rem;
      padding: 30.1rem 0rem 30.1rem 9.3rem;
      height: 100%;
      box-sizing: border-box;

      .sidbar-Qwj {
        flex-direction: column;
        width: 100%;
        height: 61.7409rem;
        align-items: center;
        display: flex;

        .sidemenu-yE9 {
          padding: 4.193rem 1.4rem 3.804rem 1.4rem;
          width: 100%;
          flex-direction: column;
          border: solid 0.1rem #828282;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 4.2rem;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .mypage-J1X {
            margin: 0rem 9.9rem 3.411rem 0.215rem;
            box-sizing: border-box;
            padding-left: 0.0005rem;
            width: calc(100% - 10.1153rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-2CR {
              margin: 0rem 1.131rem 0.2rem 0rem;
              width: 1.3534rem;
              height: 1.3714rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mypage-MEh {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #3a3d4d;
            }
          }
          .mystudy-g25 {
            margin: 0rem 15.6rem 3.411rem 0.1rem;
            width: calc(100% - 15.7rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-BDj {
              flex-shrink: 0;
              margin: 0.004rem 1rem 0rem 0rem;
              opacity: 0.99;
              width: 1.6rem;
              height: 1.3714rem;
              object-fit: contain;
              vertical-align: top;
            }
            .mystudy-ggH {
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
            }
          }
          .teammate-2EM {
            width: calc(100% - 14.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 14rem 3.411rem 0.1rem;
            box-sizing: border-box;
            padding-left: 0.0008rem;

            .icon-9Jy {
              margin-right: 0.9221rem;
              opacity: 0.99;
              width: 1.6771rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .team-mate-V7w {
              margin-top: 0.1rem;
              font-weight: 500;
              color: #363949;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              line-height: 1.4709999378;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .searching-pAD {
            margin: 0rem 10.5rem 3.506rem 0.1rem;
            width: calc(100% - 10.6rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .icon-Yc1 {
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
              opacity: 0.99;
            }
            .searching-HJh {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              margin-top: 0.1rem;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .board-c65 {
            width: calc(100% - 16.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 16.8rem;
            box-sizing: border-box;
            padding: 0.005rem 0rem 0rem 0.2rem;

            .icon-hNR {
              flex-shrink: 0;
              margin: 0rem 0.829rem 0.261rem 0rem;
              opacity: 0.99;
              width: 1.6714rem;
              height: 1.4143rem;
              object-fit: contain;
              vertical-align: top;
            }
            .board-DrZ {
              font-weight: 500;
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
            }
          }
        }
        .sidelevel-hv9 {
          border-radius: 1.5rem;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          height: 25.6rem;
          overflow: hidden;
          border: solid 0.1rem #828282;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.259rem 4.1rem 2.341rem 4.1rem;
          width: 100%;

          .frame-7-RLM {
            width: 4.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .mypage-y6y {
              line-height: 1.4709999378;
              color: #3a3d4d;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
            }
            .auto-group-vwso-Wsb {
              box-sizing: border-box;
              padding: 1.8rem 0;
              width: 100%;
              row-gap: 1.8rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .level-1-Rjf {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.4709999378;
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
              .level-2-kG9 {
                line-height: 1.4709999378;
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
                font-weight: 500;
              }
              .searching-hBP {
                color: #363949;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.4709999378;
              }
            }
            .level-4-Eh7 {
              margin-bottom: 1.8rem;
              font-size: 1.3rem;
              font-weight: 500;
              color: #363949;
              display: flex;
              line-height: 1.4709999378;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .level-5-yPo {
              line-height: 1.4709999378;
              color: #363949;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              font-weight: 500;
            }
          }
        }
      }
    }
    .mystudy-3uT {
      height: 150rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 6.8rem;
      width: 155.3rem;

      .maincol-CGZ {
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        display: flex;
        height: 189.5rem;
        position: relative;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 12.6rem 0rem 44.1rem 0rem;
        width: 131.8rem;

        .mainstudy-Wo3 {
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.6rem 0.9rem;
          width: calc(100% - 1.7rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .auto-group-c6cy-r6D {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0rem 5rem 0.4rem;
            width: calc(100% - 0.4rem);

            .studyname-xf3 {
              font-weight: 700;
              line-height: 1.4475;
              font-family: Noto Sans KR, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 93.7rem;
              display: flex;
              font-size: 3.5rem;
              color: #000000;
              white-space: nowrap;
            }
            .selectmonth-fZT {
              width: 12.8rem;
              height: 4.3rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
            }
          }
          .ranktable-QG9 {
            margin-right: 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .totalrank-xHf {
              width: 61rem;
              height: 16.7rem;
              border: solid 0.1rem #828282;
              box-sizing: border-box;
              flex-shrink: 0;
              margin-right: 8rem;
            }
            .monthrank-tx1 {
              width: 61rem;
              height: 16.7rem;
              border: solid 0.1rem #828282;
              box-sizing: border-box;
              flex-shrink: 0;
            }
          }
        }
        .mainsolved-qMT {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 6.4rem 5rem 5.9rem 5.1rem;
          width: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 2rem;

          .solvedtable-aK3 {
            box-sizing: border-box;
            width: 100%;
            height: 93.1rem;
            border: solid 0.1rem #828282;
          }
        }
      }
    }
  }
}
