:root {
    --color-background: #F7F7F7;
    --color-white: #ffffff;
    --color-purple: #624BFF;
}

html {
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
}

body {
    margin : auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    outline:none;
}

header{
    width : 100vw;
    max-width: 110rem;
    margin : auto; /*중앙 정렬 이걸로    */
    display : block;
    height: 10rem;
    flex-shrink: 0;
    align-items : center;
}

.header-bar{
    display : flex;
    background-color : beige;
    justify-content: space-between;

}

.menu-bar {
    display: flex;
    padding: 0.5rem 0rem;
    align-items: center;
    gap: 0.625rem;

}

.logo{
    display: flex;
    width: 10rem;
    align-items: center;
    flex-shrink: 0;
    text-decoration: none;
    object-fit: contain;


}


.logo-img{
    height: 3.125rem;
    flex-shrink: 0;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background: none; /* 버튼의 기본 배경 제거 */
    border: none; /* 버튼의 기본 스타일 제거 */
    cursor: pointer; /* 손 모양 커서 설정 */
    margin-left: auto; /* 프로필 요소를 오른쪽으로 이동 */
    padding-right: 3rem;

}

.profile-img{
    background-color: white;
}

.profile-img img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.alaram{
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer; /* 손 모양 커서 설정 */
}


.alaram img{
    padding-top : 0.3rem;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;

}


.edit-profile,
.edit-studygroup {

    color: #533777;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.6875rem;
    text-decoration: none;
}



main {
    margin : auto;
    display: flex;
    width: 100vw;
    max-width: 110rem;
    height: 56.25rem;
    align-items: flex-start;
    gap: 0.0625rem;
    flex-shrink: 0;
    background-color: beige;
}

.edit-image{
    display: flex;
    width: 1920px;
    height: 703px;
    padding: 20px 100px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.edit-box image{
    width: 5rem;
    height: 5rem;
}
.title-image{
    display: flex;
    width: 94.1875rem;
    align-items: flex-start;
    gap: 65.6875rem;

    color: #000;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit-box{
    display: flex;
    width: 94.1875rem;
    height: 14.375rem;
    padding: 5rem;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
    padding-left : 0;
}

.image-box {
    width: 15rem;
    height: 15rem;
    align-items: left;
    position: relative; /* 부모 요소에 relative position 설정 */
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute; /* 자식 요소에 absolute position 설정 */
    top: 0;
    left: 0;
}


.image-edit-box{
    display: flex;
    height: 12.375rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;

}

.image-edit-button{
    display: flex;
    padding: 0.75rem 0.8125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    background: #E1C7FA;
    color: #000;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer; /* 손 모양 커서 설정 */
    border : none;
}

.edit-nickname{
    display: flex;
    height: 10rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex-shrink: 0;

}

.nick-name{
    display: flex;
    color: #000;
    text-align: left;
    font-family: Noto Sans KR;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}

.input {
    margin-left : 1rem;
    display: flex;
    width: 21.9375rem;
    height: 2.1875rem;
    padding: 0.75rem 0.8125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}

.save-box{
    display: flex;
    width: 94.1875rem;
    align-items: center;
    gap: 1.25rem;
}

.complete{
    display: flex;
    width: 7.6875rem;
    padding: 0.75rem 0.8125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(0, 255, 26, 0.50);
    color: #000;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

}

.delete-account{
    display: flex;
    width: 13.5rem;
    padding: 0.75rem 0.8125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(255, 0, 0, 0.50);
    color: #000;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

}
footer {
    background-color: #533777;
}