
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
  display: flex;
justify-content: center;
align-items: center
}

.mystudypage-Su7 {
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.selectMonthCol{
	width:12.8rem;
	 height:4.3rem;
	 font-size: 25px;
}
.selectM{
	width:12.8rem; 
	height:4rem;
	font-size: 25px;
	font-weight: 600;
	border:solid 0.1rem #7040FA;

}

#monthBest{
	padding-top:1.2rem;
	  background-color:#7040FA; 
	  font-size:25px;
	  color: white;
	  border-top-left-radius: 2rem;
	  border-top-right-radius: 2rem;
}
.total{
	 padding-top:1.2rem;
	 background-color:#7040FA;
	 font-size:25px;
	 color: white;
	 border-top-left-radius: 2rem;
	 border-top-right-radius: 2rem;
}

 .mystudy-3uT {
 left:42.3rem;
  box-sizing: border-box;
  padding: 0 6.8rem;
  width: 155.3rem;
  height: 150rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
 .mystudy-3uT .maincol-CGZ {
  box-sizing: border-box;
  padding: 12.6rem 0rem 44.1rem 0rem;
  width: 131.8rem;
  height: 189.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 {
  margin: 0rem 0.8rem 0.6rem 0.9rem;
  width: calc(100% - 1.7rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .auto-group-c6cy-r6D {
  margin: 0rem 0rem 2rem 0.4rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .auto-group-c6cy-r6D .studyname-xf3 {
  margin-right: 92.5rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .auto-group-c6cy-r6D .selectmonth-fZT {
  width: 13rem;
  height: 4.3rem;
  font-size: 1.6rem;
  flex-shrink: 0;
  position: absolute;
  right: 20px;
    border-radius: 1rem;
  margin-top: 0.5rem;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .ranktable-QG9 {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .ranktable-QG9 .totalrank-xHf {
  margin-right: 8rem;
  width: 61rem;
  height: 16.7rem;
  border: solid 0.1rem #828282;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 2rem;
}
 .mystudy-3uT .maincol-CGZ .mainstudy-Wo3 .ranktable-QG9 .monthrank-tx1 {
  width: 61rem;
  height: 16.7rem;
  border: solid 0.1rem #828282;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 2rem;
}
 .mystudy-3uT .maincol-CGZ .mainsolved-qMT {
  box-sizing: border-box;
  padding: 6.4rem 1rem 5.9rem 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
  .solvedtable-aK3 {
  width: 100%;
  height: 93.1rem;
  border: solid 0.1rem #828282;
  box-sizing: border-box;
}
