<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
    <select resultType="accountVO" id="findMyPage">
        SELECT * FROM account WHERE a_no = #{a_no}
    </select>

    <select resultType="adminVO" id="StudyMemberList">
        SELECT a.a_nick, si.a_git, si.a_level, si.a_programmers, a.a_no,
        (SELECT COUNT(*) FROM coding_test WHERE a_no = a.a_no) AS ct
        FROM study_in si
        JOIN account a ON si.a_no = a.a_no
        LEFT JOIN coding_test ct ON si.a_no = ct.a_no
        WHERE si.s_no = (SELECT s_no FROM study_in WHERE a_no = #{a_no}) AND si.r_ok = '1'
    </select>

    <select resultType="java.lang.String" id="LeaderNickName">
        SELECT a_nick FROM account WHERE a_no = (SELECT a_no FROM study_in WHERE r_no = #{r_no} and s_leader = '1')
    </select>

    <select resultType="adminVO" id="TeamLeaderInfo">
        SELECT a.a_nick, si.a_git, si.a_level, si.a_programmers, a.a_no,
        (SELECT COUNT(*) FROM coding_test WHERE a_no = a.a_no) AS ct
        FROM study_in si
        JOIN account a ON si.a_no = a.a_no
        WHERE si.s_no = (SELECT s_no FROM study_in WHERE a_no = #{a_no}) AND si.s_leader = '1'
    </select>

    <select resultType="java.lang.Integer" id="FindTeamLeader">
        SELECT a_no FROM study_in WHERE s_no = (SELECT s_no FROM study_in WHERE a_no = #{a_no}) AND s_leader = '1'
    </select>

    <update id="updateProfile" parameterType="accountVO">
        UPDATE account SET a_img = #{a_img, jdbcType=VARCHAR} WHERE a_no = #{a_no, jdbcType=INTEGER}
    </update>

    <select resultType="adminVO" id="PermissionMemberList">
        SELECT a.a_nick, si.a_git, si.a_level, si.a_programmers, a.a_no
        FROM study_in si JOIN account a ON si.a_no = a.a_no
        WHERE si.s_no = (SELECT s_no FROM study_in WHERE a_no = #{a_no}) AND si.r_ok = '0'
        ORDER BY si.r_no
    </select>

    <!-- 가입승인하기 -->
    <update id="allowed" parameterType="java.lang.Integer">
        UPDATE study_in SET r_ok = '1' WHERE a_no = #{a_no}
    </update>

    <!-- 가입거절하기 -->
    <delete id="reject">
        DELETE FROM study_in WHERE a_no = #{a_no}
    </delete>

    <!-- 회원탈퇴하기 -->
    <delete id="deleteAccount">
        DELETE FROM account WHERE a_no = #{a_no}
    </delete>

    <select id="nickName" resultType="java.lang.String" >
        SELECT a_nick FROM account WHERE a_no = #{b_no}
    </select>

    <update id="updateNickName" parameterType="accountVO">
        UPDATE account SET a_nick = #{a_nick} WHERE a_no = #{a_no}
    </update>
</mapper>